.wrapper {
    width: 750px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
    text-align: center;

}

.wrapper img {
    width: 300px;
}

.wrapper form {
    padding: 30px;
}

.suck {
    color: red;
    background-color: tomato;
}

.rock {
    color: green;
}