<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <title>HTML Table</title>
</head>

<body>
    <table class="table table-hover table-striped">
        <thead class="thead-dark bg-primary">
            <tr class="bg-primary">
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
            <tr>
                <td>{{user['first_name']}}</td>
                <td>{{user['last_name']}}</td>
                <td>{{user['first_name']}} {{user['last_name']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>